.text {
    margin-left: 2%;
}

.titleAlign {
    margin-top: 2%;
    text-align: center;
}

.imgContainerFirstPage {
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.clearfix {
    overflow: auto;
    margin-top: 5%;
}

