html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.home {
  background-color: lightcyan;
}

.textColorBlack {
  color: black;
}

.textColorWhite {
  color: white;
}

.homeMain {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1%;
}

.homeContent {
  min-height: 100vh;
  background-color: white;
  width: 80%;
}


