html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.homeContentPage {
    min-height: 100vh;
    background-color: white;
    width: 80%;
    margin-top: 3.6%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.subMenuPage {
    margin-left: 0.5%;
}